[submodule "mpv/.config/mpv/scripts/file-browser"]
	path = mpv/.config/mpv/scripts/file-browser
	url = https://github.com/CogentRedTester/mpv-file-browser
[submodule "yazi/.config/yazi/plugins/compress.yazi"]
	path = yazi/.config/yazi/plugins/compress.yazi
	url = https://github.com/KKV9/compress.yazi
[submodule "yazi/.config/yazi/plugins/kdeconnect-send.yazi"]
	path = yazi/.config/yazi/plugins/kdeconnect-send.yazi
	url = https://github.com/Deepak22903/kdeconnect-send.yazi
[submodule "lazyssh/lazyssh"]
	path = lazyssh/lazyssh
	url = https://github.com/Adembc/lazyssh
[submodule "asryx/asryx"]
	path = asryx/asryx
	url = https://github.com/rccyx/asryx
[submodule "desktop-files-creator/desktop-files-creator"]
	path = desktop-files-creator/desktop-files-creator
	url = https://github.com/alexkdeveloper/desktop-files-creator
[submodule "ghostty-shaders/ghostty-shaders"]
	path = ghostty-shaders/ghostty-shaders
	url = https://github.com/0xhckr/ghostty-shaders
